:root {
  --primary-color: #FC0;
  --secondary-color: #000;
  --font-main: "Roboto", sans-serif;
}

body {
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: var(--primary-color);
  padding: 1rem;


}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.message {
  margin-top: 16px;
  padding: 12px;
  border-radius: 6px;
}

.message.error {
  background: #f8d7da;
  color: #842029;
}

.message.success {
  background: #d1e7dd;
  color: #0f5132;
}

.book-info-col {
  padding-left: 6rem;
}
